
body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header {
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    font-size: 26px;
    margin: 0 ;
    height: 40px;
    border-radius: 25px;
    border-width: 5px;
    margin-top: 10px;
}
main {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    margin: 0 ;
    height: 40px;
    border-radius: 25px;
    border-width: 5px;
    margin-bottom: 10px;
    font-size: 22px;

}

#game-container {
    width: 1000px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    margin-bottom: 50px;
    /* margin-left: 50px; */
    border: 2px solid black;
    background-color: rgb(27, 26, 26);
    z-index: 0;
    border-radius: 25px;
    border-width: 5px;
    /* background-image: url("./img/scrollOne.png");
    background-position: left top;
    background-repeat: no-repeat; */
}

#lives-section {
    grid-column: 7/11;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: small;
    font-weight: bold;
    /* padding: 5px; */
    background-color: lightslategray;
    color: white;
    opacity: .5;
    z-index: 100;
    border-radius: 25px;
    border-width: 5px;
}

#npc-image {
    grid-column: 1/11;
    grid-row: 1/11;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(27, 26, 26);
    border-radius: 25px;
    border-width: 5px;
    

}

#npc-image img {
    height: 600px;
    
    z-index: 1;
    border-radius: 25px;
    border-width: 5px;
}

#question-container {
    grid-column: 8/11;
    grid-row: 5/9;
    align-items: center;
    color: gold;
    background-color: #000;
    opacity: .6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding: 30px; */
    
    /* scroll image or note pad background */
    z-index: 99;
    border-radius: 25px;
    border-width: 5px;
    
}

#question-container h1 {
    /* margin-bottom: 20px; */
    padding: 10px;
    line-height: 20px;
    
}

#question-container p {
    /* margin-bottom: 20px; */
    padding: 10px;
    line-height: 20px;
}

#button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    

}

/* #button-container:hover {
    box-shadow: 0 10px 14px goldenrod, 0 10 px 14 px lawngreen; 
} */



/* generated content below */

/* #question-container button {
    display: block;
} */



#classSelection {
    width: 150px;
}

#player-info {

}

#questions-container {

}

#choice-container {

}

/* #form class or id {} */
